* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .calculator-container {
    height: 100vh;
    padding: 20px;
  }
  .calculator-container,
  .form-container,
  .results-container {
    display: flex;
    flex-direction: column;
  }
  .form-container {
    padding: 20px 0;
  }
}

@media (min-width: 601px) {
  .calculator-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 80%;
    padding: 20px;
  }
  .form-container,
  .results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .form-container {
    padding: 20px;
  }
  .form-col-left,
  .form-col-right,
  .results-col-left,
  .results-col-right {
    width: 50%;
  }
  .form-col-mid,
  .results-col-mid {
    width: 5%;
  }
  .results-col-mid {
    position: relative;
  }
  .results-col-mid::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    width: 1.5px;
    height: 80%;
    background-color: black;
  }
  .results-group {
    text-align: center;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* bug fix breakpoint - hide extra text when shrinking down (text which causes misalignment of input boxes in form-groups and p tags in results-groups) */
.car-value-label-span-mini,
.down-payment-label-span-mini {
  display: none;
}
@media (min-width: 601px) and (max-width: 698px) {
  .car-value-label-span,
  .down-payment-label-span,
  .leasing-cost,
  .monthly-span-mini {
    display: none;
  }
  .car-value-label-span-mini,
  .down-payment-label-span-mini {
    display: inline;
  }
  .p-no-wrap {
    white-space: nowrap;
  }
}
/* end */

.calculator-title {
  text-align: center;
  padding: 20px;
}

label {
  margin-bottom: 5px;
}

select {
  padding: 8px;
}

input[type="number"] {
  margin-bottom: 30px;
  padding: 8px;
}

.results {
  padding: 20px;
}

.results-title {
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

p {
  padding: 3px 0;
}

.border-div {
  border-bottom: 1.5px solid #ccc;
  margin: 0 auto;
  width: 85%;
}
